[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
	ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ohmyzsh_custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule "ohmyzsh_custom/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	ignore = dirty
[submodule "ohmyzsh_custom/themes/powerlevel10k"]
	path = ohmyzsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
    ignore = dirty

